<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Rechnung</title>
</h:head>
<ui:include src="template.xhtml"></ui:include>
<h:body>
	<b:panel span="9">
		<h1>Rechnungen</h1>
		<br />
		<h:form>
			<b:panel look="primary" title="Rechnungspositionen" >
			<!-- Auswahl Rechnung aus dem Rechnungspool nach ID, Datum und Gesamtpreis und zeige über Knopf die Details an -->
						<b:dataTable value="#{invoiceController.allInvoices}" print="true" excel="true" var="invoice">
				<f:facet name="header">
								<tr>
								  <th>Fahrzeugbesitzer</th>
								  <th>Datum</th>
								  <th>Nettopreis</th>
								  <th>Steuern</th>
								  <th>Bezahlt?</th>
				
								</tr>
						    </f:facet>
				<b:dataTableColumn value="#{ownerUserController.getOwnerUserByID(invoice.ownerId).personalData.fullName}"></b:dataTableColumn>
				<b:dataTableColumn value="#{invoiceController.formatTimeStamp(invoice.invoiceDate)}"/>
				<b:dataTableColumn value="#{invoiceController.formatPrice(invoice.netAmount)}"> €</b:dataTableColumn>
				<b:dataTableColumn value="#{invoiceController.formatPrice(invoice.taxAmount)}"> €</b:dataTableColumn>
				<b:dataTableColumn value="#{invoiceController.formatIsPaid(invoice.isPaid())}"/>
			</b:dataTable>
			</b:panel>
		</h:form>
	</b:panel>
</h:body>

</html>
