<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Mautstationsverwaltung</title>
</h:head>
<ui:include src="template.xhtml"></ui:include>
<h:body>
	<b:panel span="9">
		<h1>Mautstationsverwaltung</h1>
		<b:panel title="Messstation" collapsible="false">
			<h:form>
				<b:panelGrid colSpans="6,6" size="sm">
					<b:button value="Messstation verwalten" style="width: 180px"
						      href="editmeasurestation.xhtml" look="primary" />
					<b:commandButton value="Messstation anlegen" style="width: 180px"
									 action="#{measureStationController.createMeasureStation}" look="success" />
				</b:panelGrid>
			</h:form>
		</b:panel>
		<br/>
		<!-- Route verwalten Container -->
		<b:panel title="Route" collapsible="false">
			<h:form>
				<b:panelGrid colSpans="6,6" size="sm">
					<b:button value="Routen verwalten" href="editdriveway.xhtml" style="width: 180px"
							  look="primary" />
					<b:commandButton value="Route anlegen" action="#{drivewayController.createDriveway}"
									 style="width: 180px" look="success" />
				</b:panelGrid>
			</h:form>
		</b:panel>
	</b:panel>
</h:body>

</html>