<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Statistik</title>
</h:head>
<ui:include src="template.xhtml"></ui:include>
<h:body>
	<b:panel span="9">

		<h1>Statistikerstellung</h1>
		<br />
		<h:form>
			<b:panelGrid columns="2">
				<b:panel look="primary" title="Kilometerfresserstatistik erstellen" collapsible="false">
		        	<h:form>
			            <b:panelGrid columns="2">
			                <h:outputText value="Bitte geben Sie ein Anfangsdatum an:"/>
			                <b:datepicker mode="popup-icon" value="#{statisticController.startDate}"/>
			                <h:outputText value="Bitte geben Sie ein Enddatum an:"/>
			                <b:datepicker mode="popup-icon" value="#{statisticController.endDate}"/>
			                <b:commandButton action="#{statisticController.BuildLongHaulDriverStatistic()}" look="success"
			                                 value="Statistik erstellen"/>
			                <b:alert value="#{statisticController.warning}"/>
			            </b:panelGrid>
		        	</h:form>
				</b:panel>
			</b:panelGrid>
		</h:form>
	</b:panel>
</h:body>

</html>