<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<!-- Header -->
<b:panel>
	<b:row>
		<b:column span="2">
			<b:image value="../static/data/img/CAL-Logo.png" width="100%" />
		</b:column>
		<b:column span="2"></b:column>
		<b:column span="7" style="margin-right:-4em">
			<b:image value="../static/data/img/grayCompanyLogo.png" width="60%" />
		</b:column>
		<b:column span="1" style="margin-left:2em">
			<!-- Logout Knopf-->
			<h:form>
				<b:commandButton action="#{logoutController.logout()}"
					value="Logout" size="lg" look="danger" style="margin-top:2em" />
			</h:form>
		</b:column>
	</b:row>
</b:panel>
<!-- Menuebar -->
<b:panel span="3">
	<ui:include src="menuGov.xhtml" />
</b:panel>

</html>