<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Die  Schlüsselpersonen des Projekts</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/> 
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../css/grayscale.css" rel="stylesheet"/>
</h:head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../../index.xhtml"> <img height="40em" width="230em" src="img/CompanyLogo.png" /> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Lin Yang</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Tim Trense</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Sven Geisel</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Lin Yang - der Geschäftsführer</h2>
            <p class="text-white-50">Mit seinen jungen 25 Jahren ist Lin Yang ein erfolgreicher Unternehmer, der mit seiner Vision die Antares Group anführt und vertritt.
            Er nimmt die Rolle des Geschäftsführers ein und verteilt Aufgaben. </p>
          </div>
        </div>
        <img src="img/lin.JPG" class="img-fluid" alt=""/>
        <br>
        </br>
      </div>
    </section>

    <!-- Maut Project Section -->
    <section id="projects" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Tim Trense - Der Projektleiter</h2>
		 <p class="text-white-50 mb-0"> Tim Trense ist ein erfolgreicher Projektleiter, der in diesem Projekt alles aus seinen Mitarbeitern herausholen wird. Er brennt für dieses Projekt und ist höchst motiviert.</p>

          </div>
        </div>
<img src="img/tim.JPG" class="img-fluid" alt=""/>
        <br>
        </br>
      </div>
    </section>
	
    <!-- Maut Project Section -->
    <section id="contact" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
  			 <h2 class="text-white mb-4">Professor Sven Geisel - der Kunde</h2>
            <p class="text-white-50 mb-0"> Professor Sven Geisel bringt neben seinem sehr umfangreichen Wissen auch die Motivation zur Fertigstellung des Projekts an die Firma. Dabei motiviert er regelmäßig alle Mitarbeiter der Antares Group, zum Beispiel mit einem gesponserten Frühstück.</p>

          </div>
        </div>
          <img src="img/ProfGeisel.JPG" class="img-fluid" alt=""/>
        <br>
        </br>
      </div>
    </section>
   
    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &#169; Antares Group 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/grayscale.min.js"></script>
  </body>

</html>

