<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Login</title>
</h:head>

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:composition sidebar="menuAdmin.xhtml">
		<ui:define name="content">
			<h:body>
				<h1>Hallo Admin</h1>
			</h:body>
		</ui:define>
	</ui:composition>
</ui:composition>

</html>