<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>Systemzeit-Einstellung</title>
</h:head>
<h:body>

    <h1>Systemzeit-Einstellung</h1>

    <b:inputText value="#{timeController.time}"/>

</h:body>
</html>