<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Fehler</title>
</h:head>
<h:body>
	<b:row>
		<b:column span="2">
			<b:image value="../static/data/img/CAL-Logo.png" width="100%" />
		</b:column>
		<b:column span="2"></b:column>
		<b:column span="7" style="margin-right:-4em">
			<b:image value="../static/data/img/grayCompanyLogo.png" width="60%" />
		</b:column>
	</b:row>
	<b:panel span="9">
		<h1>Es ist ein Fehler aufgetreten</h1>
		<br />
		<br />
		<b:container>
			<b:column>Bitte versuchen Sie es erneut.
				<h:form>
					<b:button value="zur&#252;ck" href="mainpage.xhtml" look="primary" />
				</h:form>
			</b:column>
		</b:container>
	</b:panel>
</h:body>
</html>