<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Rechnung</title>
</h:head>
<ui:include src="template.xhtml"/>
<b:panel span="9">
	<h:body>
		<h1>Meine Rechnungen</h1>
		<br />
		<h:form>
			<b:panel look="primary" title="Rechnungspositionen">
			<!-- Auswahl Rechnung aus dem Rechnungspool nach ID, Datum und Gesamtpreis und zeige über Knopf die Details an -->
			<b:dataTable value="#{invoiceController.getInvoicesByOwner(loginController.userAsOwner)}" print="true" excel="true" var="invoice">
				<f:facet name="header">
								<tr>
								  <th>Datum</th>
								  <th>Nettopreis</th>
								  <th>Steuern</th>
								  <th>Bezahlt?</th>
								  <th>Download</th>
								</tr>
						    </f:facet>
				<b:dataTableColumn value="#{invoiceController.formatTimeStamp(invoice.invoiceDate)}"/>
				<b:dataTableColumn value="#{invoiceController.formatPrice(invoice.netAmount)}"> €</b:dataTableColumn>
				<b:dataTableColumn value="#{invoiceController.formatPrice(invoice.taxAmount)}"> €</b:dataTableColumn>
				<b:dataTableColumn value="#{invoiceController.formatIsPaid(invoice.isPaid())}"/>
				<b:dataTableColumn>
					<p:commandButton value="Details anzeigen" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
						<p:fileDownload value="#{invoiceController.getFile(invoice)}" />
					</p:commandButton>
				</b:dataTableColumn>
			</b:dataTable>
			</b:panel>
		</h:form>
	</h:body>
</b:panel>
</html>
