<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:g="http://openStreetMap.net/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Positionsermittlung</title>
</h:head>
<ui:include src="template.xhtml">
</ui:include>
<b:panel span="9">

	<h:body>
		<b:panel look="primary" title="Positionsermittlung">
		<h:form>

			<b:panelGrid columns="1">
				<h:outputText value="KFZ:" />
				<b:selectOneMenu>
					<f:selectItems
						value="#{carController.getCarLicenses(loginController.userAsOwner)}" />
				</b:selectOneMenu>	
			<input type="button" value="Jetzt kostenpflichtig bestimmen" onclick="showPanel();"/>
			</b:panelGrid>
			
			<script>

			function showImage(){
		        document.getElementById("loadingImage").style.visibility="hidden";
			}

			function showPanel(){
				document.getElementById("loadingAll").style.display="block";
			}
			
			</script>
			
			<br/>
			
			<div  id="loadingAll" style="display:none">
			<b:panel >
			
			<b:panelGrid columns="2">
				<b:dateTimePicker label="Messung erfolgte um:" disable="true" value="08.11.2018 12:30:00" showIcon="false"
					readonly="true"> </b:dateTimePicker>
				<b:inputText label="Die Folgende Messstation erfasste dabei die Daten:" value="Bautzen-Abfahrt 1"
					readonly="true"> 
					</b:inputText>
			</b:panelGrid>
			
    		<img id="loadingImage" src="../static/data/img/GoogleMaps.JPG" width="700em" />
    		
			
			<br/>
			<br/>


			
			
			
			</b:panel>
			</div>
			

		</h:form>
		</b:panel>



	</h:body>


</b:panel>

</html>