<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
	<link href="static/css/grayscale.css" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Login Fehler</title>
</h:head>
<h:body>
	<header class="masthead">
		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto text-center">
				<b:row>
					<b:column span="2">
						<b:image value="/static/data/img/CAL-Logo.png" width="100%" />
					</b:column>
					<b:column span="2"></b:column>
					<b:column span="7" style="margin-right:-4em">
						<b:image value="/static/data/img/CompanyLogo.png" width="60%" />
					</b:column>
				</b:row>

				<p class="login-text">Die Anmeldedaten sind fehlerhaft.</p>
				<br/>
				<p class="login-text">Bitte versuchen sie es erneut.</p>
				<br/>
				<br/>
				<h:form>
					<b:button value="zur Startseite" href="index.xhtml"/>
				</h:form>
			</div>
		</div>
	</header>
</h:body>
</html>